@media (max-width: 992px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navbar {
        gap: 10px;
    }

    .navlist {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: var(--stg-brn);
        border: 2px solid var(--stg-brn);
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .navlist a {
        font-size: 18px;
    }

    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        display: flex;
        width: 35px;
    }

    .burbuja {
        position: absolute;
        top: 17px;
        right: 55px;
    }

    .open-menu {
    display: flex;
    }

}

@media (max-width: 576px) {
    main {
        width:  auto;
    }
    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-content h1{
        text-align: center;
    }
    .home-content p {
        text-align: center;
    }
    .nosotros {
        width: 100%;
    }

    .row li {
        padding: 5px;
    }

  }

  @media (max-width: 730px) {
    .blog-box-container {
        flex-direction: column;
    }
  }
  @media (max-width: 425px) {
    .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .row fot-col social-link {
text-align: center;
    }
  }


